.header{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;

    padding: 0 10%;
}

.avatar{
    width: 65px;
    height: 65px;
    
}

.avatar > img{
    width: 100%;
    height: 100%;
    display: block;

    border-radius: 50px;
}

.menu__burger {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 48px;
    width: 42px;
    justify-content: space-between;
    cursor: pointer;
    gap: 0px;
    transition: .7s all ease;
}
.menu__burger:hover{
    transform: scale(1.2);
    transition: .7s all ease;
}
.rect{
    height: 18px;
    width: 18px;
    border-radius: 4px;
    background-color: rgb(18, 93, 155);
}
.blog__navigation {
    background-color: dimgray;
    display: flex;
    min-width: 250px;
    position: fixed;
    top: 120px;
    right: -250px;
    transition: 1s all ease;
}
.visible{
    transition: 1s all ease;
    right:0;
}
.main__navigation-side {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.nav__item {
    display: flex;
    height: 50px;
    width: 100%;
}
.nav__link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    text-decoration: none;
    color: lightgray;
    border: 1px solid lightgray;
    width: 100%;

    padding-left: 12px;
    padding-right: 12px;
}
.nav__link:hover{
    background-color: gray;
}